[Desktop Entry]
Name=AIBuddy
Exec=/usr/lib/aibuddy/AIBuddy %U
Icon=/usr/share/pixmaps/aibuddy.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/aibuddy;