[Desktop Entry]
Name=HeyBuddy
Exec=/usr/lib/HeyBuddy/HeyBuddy %U
Icon=/usr/share/pixmaps/HeyBuddy.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/heybuddy;