[Desktop Entry]
Name=HeyBuddy
Exec=/usr/lib/heybuddy/HeyBuddy %U
Icon=/usr/share/pixmaps/heybuddy.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/heybuddy;